<div class="row justify-content-between border-div p-2" *ngFor="let task of tasks">
    <div class="col-xl-6" [ngClass]="{'doneTask': !isPending(task?.status)}">
        {{task?.title}}
    </div>
  <div class="col-xl-3">
    <span class="dot red" [ngClass]="priority(task.priority)"></span> {{task.priority.toString() | lowercase}}
  </div>
  <div class="col-xl-1">
    <a class="btn-floating btn-small waves-effect waves-light green" [ngClass]="{'disabled': !isPending(task?.status)}" (click)="done(task)"><i class="material-icons">done</i></a>
  </div>
  <div class="col-xl-1">
    <a class="btn-floating btn-small waves-effect waves-light blue" [ngClass]="{'disabled': !isPending(task?.status)}" (click)="edit(task)"><i class="material-icons">edit</i></a>
  </div>
  <div class="col-xl-1">
    <a class="btn-floating btn-small waves-effect waves-light pink" (click)="delete(task)"><i class="material-icons">delete</i></a>
  </div>
</div>



