
  <form (ngSubmit)="addNewTask()" #form="ngForm">
    <div class="row">
        <div class="input-field col-xl-8">
          <input placeholder="Enter New To-Do ..." name="title" [(ngModel)]="model.title" type="text" #title="ngModel" required>
        </div>
        <div class="col-xl-3">
          <input type="date" name="date" [(ngModel)]="model.date" #date="ngModel" required/>
        </div>
        <div class="input-field col-xl-1">
          <button [disabled]="form.invalid" type="submit" mat-fab color="accent" aria-label="Example icon button with a plus one icon">
            <i class="material-icons">add</i>
          </button>
        </div>
    </div>
  </form>

